{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="no-sidebar">
  
  
  <header role="banner">
   <!--  <div class="fat-people"></div>
    <div class="tiny-heads"></div> -->
    <hgroup>
      <h1><a href="{{ root_url }}/">{{ page.title }}</a></h1>
      {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
      {% endif %}
    </hgroup>
  </header>
  <nav role="navigation">{% include navigation.html %}</nav>

  {{ content | expand_urls: root_url }}

  <div class="min-wrapper">
    {% include after_footer.html %}
  </div>
</body>
</html>
