<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="https://canvas.instructure.com/courses/785215">Learn</a></li>
  <li><a href="https://canvas.instructure.com/doc/api/index.html">API Docs</a></li>
  <li><a href="http://www.instructure.com/partners">Partners</a></li>
  <li><a href="http://www.edu-apps.org">Apps</a></li>
  <li><a href="https://groups.google.com/forum/?fromgroups#!forum/canvas-lms-users">Mailing List</a></li>
  <li><a href="http://webchat.freenode.net/?channels=canvas-lms&uio=d4">IRC</a></li>
</ul>
