// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

$sans: 'Source Sans Pro', sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
$heading-font-family: 'Source Sans Pro', sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;

h2 {
  font-weight: 300 !important;
  font-size: 1.2em !important;
}
h1.entry-title {
  border-left: 5px solid #E13F32;
  padding-left: 15px;
}